.photoslist {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.formradio {
  margin-right: 10px;
  display: inline-block;
}

.formradio > input {
  margin-right: 5px;
}

.submitbtn {
  margin-top: 32px;
}

.roverSelect {
  text-transform: capitalize;
}

.fovoritesDropdown {
  margin-top: 50px;
}

.favoriteTag {
  width: 230px;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
}